PipelineImporter/bin
PipelineImporter/obj
packages/MonoGame.Framework.MacOS.3.4.0.459
packages/MarkerMetro.Unity.Ionic.Zlib.2.0.0.14
packages/MonoGame.Framework.Content.Pipeline.Portable.3.2.99.1-Beta
PipelineRuntime/bin
PipelineRuntime/obj
packages/MonoGame.Framework.Portable.3.2.99.1-Beta
packages/Newtonsoft*
MacTester/bin
MacTester/Content/bin
MacTester/Content/obj
MacTester/obj
Nez-PCL/bin
Nez-PCL/obj
*.userprefs
UpgradeLog.htm
Demos
packages
Nez.PipelineImporter/bin
Nez.PipelineImporter/obj
MacTester
MacTester35
iOSTester


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/[Dd]ebug/
[Dd]bin/ebugPublic/
bin/[Rr]elease/
bin/[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
Nez.Portable/project.lock.json
Nez.Portable/Nez.FNA.csproj.nuget.cache
.idea
