.page-content{
    background-color: $light-background-color;
}

.page-content p, 
.page-content ul,
.page-content ol,
.page-content h1, 
.page-content h2, 
.page-content h3, 
.page-content h4, 
.page-content h5, 
.page-content h6 {
    color: $text-color-light;
}

.page-content h1, 
.page-content h2, 
.page-content h3, 
.page-content h4, 
.page-content h5, 
.page-content h6{
    font-family: 'Roboto';
}

.page-content h1{
    margin-top: 24px;
}

.content-wrapper{
    max-width: $body-width;
    padding: 0 16px;
    margin: 0 auto;
}

.download-buttons{
    display: inline-block;
}

.button{
    display: inline-block;
    color: $text-color;
    padding: 8px 32px;
    margin: 10px;
    background: $brand-color;
    border-radius: 2px;
    text-transform: uppercase;


    &:visited{
        color: $text-color;
    }
    &:hover{
        text-decoration: none;
    }
}

.page-link{
    display: inline-block;
    border: 1px $brand-color solid;
    color: $brand-color;
    padding: 6px 24px;
    border-radius: 4px;
    -webkit-transition: all 0.2s, -webkit-transform 0.2s;
    transition: all 0.2s, transform 0.2s;
    text-transform: uppercase;
    margin: 24px 0;

    &:visited{
        color: $brand-color;
    }
    &:hover{
        text-decoration: none;
        color: $text-color;
        background-color: $brand-color;
    }
}