<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkerMetro.Unity.Ionic.Zlib" version="2.0.0.14" targetFramework="net45" />
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.7.0.1708" targetFramework="net45" />
  <package id="MonoGame.Framework.Portable" version="3.7.0.1708" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>